
/* custom property */
:root {
    --accent-color: #800000;  
    --gradient-color: #f6bb73;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    
    width: 80%;
    max-width: 1024px; 
    font-size: 90% + .2vw; 
    line-height: 1.5; 
    margin: auto;
    border: 2px solid var(--accent-color);
}
a:hover, a:focus{
    font-style: italic;
    color: var(--accent-color);
}

h1, h2, h3, p, ul {
    padding: .25em 0; /
}
h1 {
    font-size: 150%;
}
h2 {
    font-size: 130%;
    color: var(--accent-color);
}
h3 {
    font-size: 105%;
}
ul {
    margin-left: 2em;
}


header {
    border-bottom: 2px solid var(--accent-color);
    background-image: linear-gradient(
        30deg, var(--gradient-color) 0%, white 30%, white 65%, var(--gradient-color) 100%);
    line-height: 1.2; 
    & h2 {
        font-size: 175%;
        padding: .5em 0 0 0;
    }
    & h3 {
        font-size: 130%;
        font-style: italic;
        padding-bottom: 1em;
    }
    & img {
        float: left;
        margin: .75em 1em;
        width: min(80px, max(40px, 100%));
    }
}


main {
    padding: 0 1em 1em;
    
    display: flex;
  
    gap: 1em;
    padding: 1em;

    
    & blockquote {
        font-style: italic;
        padding-left: 1em;
    }
    & img {
        border: 4px double var(--accent-color);
        border-radius: 10px;
    }
 
    & aside {
        flex-basis: 25%;
        padding: 0; 
        margin: 0;
    }
    & section {
        flex-basis: 75%;
        padding: 0; 
        margin: 0;

 
        & img {
            float: right;
            margin-left: 1em; 
            margin-bottom: 1em; 
            
            width: min(75px, max(40px, 100%));
        }
    }
}


.featured {
    border-top: 2px solid var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
    padding: 1em 0;
    margin-bottom: 1em;
}

.featured img {
   
    width: min(250px, max(100px, 100%));
   
}


footer {
    background-color: var(--accent-color);
    & p {
        text-align: center;
        color: white;
        padding: 1em 0;
    }
}


.large {
    font-size: 125%;
}

